.popup__place-photo {
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0 0 9px 0;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

.popup__place-photo:invalid {
  margin-bottom: 5px;
  margin-top: 0px;
}
